<div class="container">
    <h1>Listado de Autores</h1>

    <mat-table [dataSource]="dataSource"> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre autor  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nacionalidad">
            <mat-header-cell *matHeaderCellDef> Nacionalidad  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nacionalidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary">
                    <mat-icon (click)="editarAutor(element)">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent">
                    <mat-icon (click)="borrarAutor(element)">clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="n_pagina" [pageSize]="tamano_pagina" [length]="elementos_totales" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="crearAutor()">Nuevo autor</button> 
    </div>   
</div>

